<!DOCTYPE html []>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="MarkdownViewer++" />
    <title>index.md</title>
    <style type="text/css">
            
/* Avoid page breaks inside the most common attributes, especially for exports (i.e. PDF) */
td, h1, h2, h3, h4, h5, p, ul, ol, li {
    page-break-inside: avoid; 
}

        </style>
  </head>
  <body>
    <h1 id="welcome">Welcome</h1>
    <h1 id="section">这是什么?</h1>
    <p>一个简单的工具API</p>
    <h1 id="section-1">功能</h1>
    <h2 id="section-2">1. 时间戳转换</h2>
    <p>目前仅支持GMT+8 北京时间</p>
    <h3 id="section-3">1.1 参数</h3>
    <table>
      <thead>
        <tr>
          <th style="text-align: center;">参数</th>
          <th style="text-align: center;">默认值</th>
          <th style="text-align: left;">解释</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: center;">t</td>
          <td style="text-align: center;">now</td>
          <td style="text-align: left;">要转换成时间戳的北京时间</td>
        </tr>
        <tr>
          <td style="text-align: center;">ts</td>
          <td style="text-align: center;">null</td>
          <td style="text-align: left;">要转换成北京时间的时间戳</td>
        </tr>
        <tr>
          <td style="text-align: center;">form</td>
          <td style="text-align: center;">%Y-%m-%d %H:%M:%S</td>
          <td style="text-align: left;">输出的时间格式</td>
        </tr>
      </tbody>
    </table>
    <h3 id="section-4">1.2 返回值</h3>
    <table>
      <thead>
        <tr>
          <th style="text-align: center;">参数</th>
          <th style="text-align: left;">解释</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: center;">时间戳</td>
          <td style="text-align: left;">转换的时间戳</td>
        </tr>
        <tr>
          <td style="text-align: center;">时间</td>
          <td style="text-align: left;">格式化输出的北京时间</td>
        </tr>
        <tr>
          <td style="text-align: center;">状态</td>
          <td style="text-align: left;">运行的状态, 非OK都是异常</td>
        </tr>
      </tbody>
    </table>
    <h3 id="section-5">1.3 用例</h3>
    <pre>
      <code>https://toolapi.us-south.cf.appdomain.cloud/timestamp  
返回现在时间
{
    "时间戳": 1586917839,
    "时间": "2020-04-15 10:30:39",
    "状态": "OK"
}
</code>
    </pre>
    <pre>
      <code>https://toolapi.us-south.cf.appdomain.cloud/timestamp?ts=1586921249
如果参数带时间戳，会忽略其他参数转换成北京时间
{
    "时间戳": "1586921249",
    "时间": "2020-04-15 11:27:29",
    "状态": "OK"
}
</code>
    </pre>
    <pre>
      <code>https://toolapi.us-south.cf.appdomain.cloud/timestamp?t=2020-04-15+11%3a00%3a09
北京时间返回时间戳
{
    "时间戳": 1586919609,
    "时间": "2020-04-15 11:00:09",
    "状态": "OK"
}
</code>
    </pre>
  </body>
</html>
