
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="MarkdownViewer++" />
        <title>index.md</title>
        <style type="text/css">
            
/* Avoid page breaks inside the most common attributes, especially for exports (i.e. PDF) */
td, h1, h2, h3, h4, h5, p, ul, ol, li {
    page-break-inside: avoid; 
}

        </style>
      </head>
    <body>
        <h1 id="welcome">Welcome</h1>
<h1 id="section">这是什么?</h1>
<p>一个简单的工具API
项目仓库<a href="https://github.com/AragonSnow/toolapi">https://github.com/AragonSnow/toolapi</a><br>
如果有更多api需求，可以留言给我添加</p>
<h1 id="section-1">功能</h1>
<h2 id="timestamp">1 时间戳转换（/timestamp）</h2>
<p>目前仅支持GMT+8 北京时间</p>
<h3 id="section-2">1.1 参数</h3>
<table>
<thead>
<tr>
<th style="text-align: center;">参数</th>
<th style="text-align: center;">默认值</th>
<th style="text-align: left;">是否必要参数</th>
<th style="text-align: left;">解释</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: center;">t</td>
<td style="text-align: center;">now</td>
<td style="text-align: left;">是</td>
<td style="text-align: left;">要转换成时间戳的北京时间</td>
</tr>
<tr>
<td style="text-align: center;">ts</td>
<td style="text-align: center;">null</td>
<td style="text-align: left;">是</td>
<td style="text-align: left;">要转换成北京时间的时间戳</td>
</tr>
<tr>
<td style="text-align: center;">form</td>
<td style="text-align: center;">%Y-%m-%d %H:%M:%S</td>
<td style="text-align: left;">否</td>
<td style="text-align: left;">输出的时间格式</td>
</tr>
</tbody>
</table>
<h3 id="section-3">1.2 返回值</h3>
<table>
<thead>
<tr>
<th style="text-align: center;">参数</th>
<th style="text-align: left;">解释</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: center;">时间戳</td>
<td style="text-align: left;">转换的时间戳</td>
</tr>
<tr>
<td style="text-align: center;">时间</td>
<td style="text-align: left;">格式化输出的北京时间</td>
</tr>
<tr>
<td style="text-align: center;">状态</td>
<td style="text-align: left;">运行的状态, 非OK都是异常</td>
</tr>
</tbody>
</table>
<h3 id="section-4">1.3 用例</h3>
<pre><code>https://toolapi.us-south.cf.appdomain.cloud/timestamp  
返回现在北京时间
{
    &quot;时间戳&quot;: 1586917839,
    &quot;时间&quot;: &quot;2020-04-15 10:30:39&quot;,
    &quot;状态&quot;: &quot;OK&quot;
}
</code></pre>
<pre><code>https://toolapi.us-south.cf.appdomain.cloud/timestamp?ts=1586921249
如果参数带时间戳，会忽略其他参数转换成北京时间
{
    &quot;时间戳&quot;: &quot;1586921249&quot;,
    &quot;时间&quot;: &quot;2020-04-15 11:27:29&quot;,
    &quot;状态&quot;: &quot;OK&quot;
}
</code></pre>
<pre><code>https://toolapi.us-south.cf.appdomain.cloud/timestamp?t=2020-04-15+11%3a00%3a09
北京时间返回时间戳
{
    &quot;时间戳&quot;: 1586919609,
    &quot;时间&quot;: &quot;2020-04-15 11:00:09&quot;,
    &quot;状态&quot;: &quot;OK&quot;
}
</code></pre>
<h2 id="regex">2. 正则表达是（/regex）</h2>
<p>正则匹配参数并返回匹配结果</p>
<h3 id="section-5">2.1 参数</h3>
<table>
<thead>
<tr>
<th style="text-align: center;">参数</th>
<th style="text-align: center;">默认值</th>
<th style="text-align: left;">是否必要参数</th>
<th style="text-align: left;">解释</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: center;">data</td>
<td style="text-align: center;">&quot;&quot;</td>
<td style="text-align: left;">是</td>
<td style="text-align: left;">要匹配的数据</td>
</tr>
<tr>
<td style="text-align: center;">p</td>
<td style="text-align: center;">&quot;&quot;</td>
<td style="text-align: left;">是</td>
<td style="text-align: left;">正则表达式</td>
</tr>
</tbody>
</table>
<h3 id="section-6">2.2 返回值</h3>
<table>
<thead>
<tr>
<th style="text-align: center;">参数</th>
<th style="text-align: left;">解释</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: center;">数据</td>
<td style="text-align: left;">匹配的结果</td>
</tr>
<tr>
<td style="text-align: center;">状态</td>
<td style="text-align: left;">运行的状态, 非OK都是异常</td>
</tr>
</tbody>
</table>
<h3 id="section-7">2.3 用例</h3>
<pre><code>https://toolapi.us-south.cf.appdomain.cloud/regex?data=%7b&quot;code&quot;%3a0%2c&quot;msg&quot;%3a&quot;成功&quot;%2c&quot;data&quot;%3a%7b&quot;users&quot;%3a%5b%7b&quot;name&quot;%3a&quot;张三&quot;%2c&quot;gender&quot;%3a&quot;male&quot;%2c&quot;age&quot;%3a12%7d%2c%7b&quot;name&quot;%3a&quot;李四&quot;%2c&quot;gender&quot;%3a&quot;female&quot;%2c&quot;age&quot;%3a15%7d%2c%7b&quot;name&quot;%3a&quot;王五&quot;%2c&quot;gender&quot;%3a&quot;male&quot;%2c&quot;age&quot;%3a22%7d%2c%7b&quot;name&quot;%3a&quot;赵六&quot;%2c&quot;gender&quot;%3a&quot;male&quot;%2c&quot;age&quot;%3a24%7d%5d%2c&quot;goods&quot;%3a%5b%7b&quot;name&quot;%3a&quot;apple&quot;%2c&quot;price&quot;%3a15%2c&quot;num&quot;%3a200%7d%2c%7b&quot;name&quot;%3a&quot;pear&quot;%2c&quot;price&quot;%3a18%2c&quot;num&quot;%3a100%7d%2c%7b&quot;name&quot;%3a&quot;banana&quot;%2c&quot;price&quot;%3a16%2c&quot;num&quot;%3a210%7d%5d%7d%7d&amp;p=name&quot;%3a&quot;(.%2b%3f)&quot;

测试数据：
{&quot;code&quot;:0,&quot;msg&quot;:&quot;成功&quot;,&quot;data&quot;:{&quot;users&quot;:[{&quot;name&quot;:&quot;张三&quot;,&quot;gender&quot;:&quot;male&quot;,&quot;age&quot;:12},{&quot;name&quot;:&quot;李四&quot;,&quot;gender&quot;:&quot;female&quot;,&quot;age&quot;:15},{&quot;name&quot;:&quot;王五&quot;,&quot;gender&quot;:&quot;male&quot;,&quot;age&quot;:22},{&quot;name&quot;:&quot;赵六&quot;,&quot;gender&quot;:&quot;male&quot;,&quot;age&quot;:24}],&quot;goods&quot;:[{&quot;name&quot;:&quot;apple&quot;,&quot;price&quot;:15,&quot;num&quot;:200},{&quot;name&quot;:&quot;pear&quot;,&quot;price&quot;:18,&quot;num&quot;:100},{&quot;name&quot;:&quot;banana&quot;,&quot;price&quot;:16,&quot;num&quot;:210}]}}

正则表达式： name&quot;:&quot;(.+?)&quot;

返回结果：
{
    &quot;数据&quot;: {
        &quot;1&quot;: &quot;张三&quot;,
        &quot;2&quot;: &quot;李四&quot;,
        &quot;3&quot;: &quot;王五&quot;,
        &quot;4&quot;: &quot;赵六&quot;,
        &quot;5&quot;: &quot;apple&quot;,
        &quot;6&quot;: &quot;pear&quot;,
        &quot;7&quot;: &quot;banana&quot;
    },
    &quot;状态&quot;: &quot;OK&quot;
}
</code></pre>
<h2 id="string">3 字符串处理(string)</h2>
<p>目前实现字符串替换功能</p>
<h3 id="replace">3.1 字符串替换(replace)</h3>
<table>
<thead>
<tr>
<th style="text-align: center;">参数</th>
<th style="text-align: center;">默认值</th>
<th style="text-align: left;">是否必要参数</th>
<th style="text-align: left;">解释</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: center;">s</td>
<td style="text-align: center;">&quot;&quot;</td>
<td style="text-align: left;">是</td>
<td style="text-align: left;">要替换的数据</td>
</tr>
<tr>
<td style="text-align: center;">f</td>
<td style="text-align: center;">&quot;&quot;</td>
<td style="text-align: left;">是</td>
<td style="text-align: left;">必须是replace</td>
</tr>
<tr>
<td style="text-align: center;">p</td>
<td style="text-align: center;">&quot;&quot;</td>
<td style="text-align: left;">是</td>
<td style="text-align: left;">要替换的关键词,支持正则</td>
</tr>
<tr>
<td style="text-align: center;">t</td>
<td style="text-align: center;">&quot;&quot;</td>
<td style="text-align: left;">是</td>
<td style="text-align: left;">替换后的内容</td>
</tr>
<tr>
<td style="text-align: center;">r</td>
<td style="text-align: center;">&quot;&quot;</td>
<td style="text-align: left;">否</td>
<td style="text-align: left;">返回的内容选择是json和纯文本, 默认是返回json,json会先显示转义字符，纯文本不会</td>
</tr>
</tbody>
</table>
<h3 id="replace-1">3.2 字符串替换(replace)</h3>
<p>|  参数  | 解释 |
| :----: | :---- |
| 原始字符串 | 输入的内容 |
| 处理后字符串  |  替换后的字符串 |
| 状态  |  运行的状态, 非OK都是异常 |
text
直接返回替换后的字符串</p>
<h3 id="section-8">3.1.3  用例</h3>
<pre><code>返回json
https://toolapi.us-south.cf.appdomain.cloud/string?p=%E4%BA%BA&amp;t=%E5%AD%97%E7%AC%A6%E4%B8%B2&amp;f=replace&amp;r=json&amp;s={&quot;text&quot;:&quot;我是人&quot;}
s = {&quot;text&quot;:&quot;我是人&quot;}
f = replace
p = 人
t = 字符串
r = json   (可不用，默认)
返回
{
    &quot;原始字符串&quot;: &quot;{\&quot;text\&quot;:\&quot;我是人\&quot;}&quot;,
    &quot;处理后字符串&quot;: &quot;{\&quot;text\&quot;:\&quot;我是字符串\&quot;}&quot;,
    &quot;状态&quot;: &quot;OK&quot;
}
</code></pre>
<pre><code>返回文本
https://toolapi.us-south.cf.appdomain.cloud/string?p=%E4%BA%BA&amp;t=%E5%AD%97%E7%AC%A6%E4%B8%B2&amp;f=replace&amp;r=text&amp;s={&quot;text&quot;:&quot;我是人&quot;}
s = {&quot;text&quot;:&quot;我是人&quot;}
f = replace
p = 人
t = 字符串
r = text
返回
{&quot;text&quot;:&quot;我是字符串&quot;}
</code></pre>

    </body>
</html>
            
